.page-reward {
  height: 100vh;
  width: 100%;
  padding: 88px 0 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 768px) {
    display: block;
    padding: 72px 16px 0;
  }

  .header {
    background: url(./img/header.png) no-repeat;
    background-size: auto 100%;
    box-sizing: border-box;
    padding: 80px 0 0;
    position: relative;
    @media screen and (max-width: 768px) {
      background-image: url(./img/headerH5.png);
      padding: 38px 0 0;
      background-size: 100% 202px;
      background-position: bottom right;
      &::after{
        position: absolute;
        width: 200px;
        height: 170px;
        content: ' ';
        display: block;
        top: 0;
        right: 0;
        background-image: url(./img/headerH5Icon.png);
        background-size: 100% 100%;
      }
    }
    .box {
      box-sizing: border-box;
      position: relative;
      width: 1200px;
      height: 600px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      @media screen and (max-width: 768px) {
        width: 100%;
        height: 202px;
        padding: 58px 12px 0;
      }
      .poolItem{
        width: 18%;
        height: 100%;
        text-align: center;
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
        &.selected {
          border: 1px solid rgba(38, 197, 86, 1);
        }
        img{
          width: 100%;
          height: 80%;
          margin: 10px 0;
        }
      }
    }
  }

  .list {
    display: flex;
    width: 1200px;
    padding: 40px 0;
    gap: 20px;
    flex-wrap: wrap;
    @media screen and (max-width: 768px) {
      display: block;
      width: 100%;
      padding: 24px 0;
    }
    .item {
      display: flex;
      border-radius: 16px;
      border: 1px solid rgba(255, 255, 255, 0.05);
      background: rgba(255, 255, 255, 0.05);
      backdrop-filter: blur(20px);
      width: 590px;
      align-items: center;
      @media screen and (max-width: 768px) {
        width: 100%;
        margin: 0 0 16px;
      }
      & > div {
        padding: 20px 0 20px 20px;
        flex: 1;
        @media screen and (max-width: 768px) {
          padding: 32px 12px 12px;
        }
      }
      .title {
        color: rgba(255, 255, 255, 0.5);
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        @media screen and (max-width: 768px) {
          font-size: 14px;
        }
      }
      .number {
        font-family: Poppins;
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
        margin: 12px 0 22px;
        @media screen and (max-width: 768px) {
          font-size: 32px;
          margin: 12px 0 32px;
        }
      }
      .info {
        .top {
          display: flex;
          & > div {
            flex: 1;
            display: flex;
            flex-direction: column;
            @media screen and (max-width: 768px) {
              flex-direction: column-reverse;
            }
            .tit {
              font-family: Poppins;
              font-style: normal;
              font-weight: 400;
              line-height: 100%;
              font-size: 14px;
              color: rgba(255, 255, 255, 0.5);
              @media screen and (max-width: 768px) {
                font-size: 12px;
              }
            }
            .num {
              color: #fff;
              font-family: Poppins;
              font-size: 20px;
              font-style: normal;
              font-weight: 500;
              line-height: 100%; /* 20px */
              @media screen and (max-width: 768px) {
                font-size: 16px;
              }
            }
            div {
              &:last-child {
                margin: 10px 0 0 ;
                @media screen and (max-width: 768px) {
                  margin: 0 0 8px;
                }
              }
            }
            &:last-child {
              border-left: 1px solid rgba(255, 255, 255, 0.1);
              padding: 0 0 0 24px;
            }
          }
        }
        .bottom {
          color: rgba(255, 255, 255, 0.5);
          font-family: Poppins;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          border-top: 1px solid rgba(255, 255, 255, 0.1);
          display: flex;
          justify-content: space-between;
          padding: 16px 0 0;
          margin: 16px 0 0;
        }
      }
      img {
        width: 206px;
        height: 206px;
        margin: 0 4px;
        @media screen and (max-width: 768px) {
          margin: 0;
          position: absolute;
          right: 12px;
          top: 12px;
          width: 100px;
          height: 100px;
        }
      }
    }
  }
  .btn-box{
    .btn{
      width: 240px;
      height: 64px;
      margin: 20px auto 0;
      font-family: Poppins;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      background: -webkit-gradient(linear, left top, right top, color-stop(0.15%, #0cfff0), color-stop(136.08%, #0cffa7));
      background: linear-gradient(90deg, #0cfff0 0.15%, #0cffa7 136.08%);
      color: #000;
      border-radius: 10px;
      cursor: pointer;
      text-align: center;
      line-height: 64px;
      display: flex;
      justify-content: center;
      align-items: center;
      &.disabled {
        cursor: not-allowed;
      }
    }
  }
  .sucModal{
    background-color: #151716;
  }
  .sucModal-content{
    text-align: center;
  }
}
